:root:has(#fr:checked) {
  --language: "fr";
  --dashboard: "Dashboard";
  --reservations: "Réservations";
  --activities: "Activités";
  --employees: "Employés";
}

:root:has(#en:checked) {
  --language: "en";
  --dashboard: "Dashboard";
  --reservations: "Reservations";
  --activities: "Activities";
  --employees: "Employees";
}

:root:has(#es:checked) {
  --language: "es";
  --dashboard: "Dashboard";
  --reservations: "Reservations";
  --activities: "Actividades";
  --employees: "Empleados";
}

label[for="dashboard"] p::before {
  content: var(--dashboard);
}
label[for="reservations"] p::before {
  content: var(--reservations);
}
label[for="activities"] p::before {
  content: var(--activities);
}
label[for="employees"] p::before {
  content: var(--employees);
}
