label[for="dashboard"] p {
  font-size: 0;
  line-height: 0;
}

label[for="dashboard"] p::before {
  content: var(--dashboard);
  font-size: 1rem;
  line-height: normal;
  display: inline-block;
}

label[for="reservations"] p {
  font-size: 0;
  line-height: 0;
}

label[for="reservations"] p::before {
  content: var(--reservations);
  font-size: 1rem;
  line-height: normal;
  display: inline-block;
}

label[for="activities"] p {
  font-size: 0;
  line-height: 0;
}

label[for="activities"] p::before {
  content: var(--activities);
  font-size: 1rem;
  line-height: normal;
  display: inline-block;
}

label[for="employees"] p {
  font-size: 0;
  line-height: 0;
}

label[for="employees"] p::before {
  content: var(--employees);
  font-size: 1rem;
  line-height: normal;
  display: inline-block;
}

:root:has(#fr:checked) {
  --dashboard: "Dashboard";
  --reservations: "Réservations";
  --activities: "Activités";
  --employees: "Employés";
}

:root:has(#en:checked) {
  --dashboard: "Dashboard";
  --reservations: "Reservations";
  --activities: "Activities";
  --employees: "Employees";
}

:root:has(#es:checked) {
  --dashboard: "Dashboard";
  --reservations: "Reservations";
  --activities: "Actividades";
  --employees: "Empleados";
}
